#landing {
  background-image: url('../images/img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cornflowerblue;
  height: 100vh;
}

#landing-title {
  position: relative;
  top: 200px;
  padding: 2vh;
}

.page-title {
  text-decoration: none;
  color: white;
  padding: 1em;
  text-shadow: 2px 2px 3px #000, -1px -1px 1px #000;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}